{% extends "base.html" %}

{% block title %}Emne: {{ emne }}{% endblock %}

{% block content %}
<h1>{{ emne }}</h1>
<h2>Registrer student til emne: </h2>
<form action="{% url 'registrerStudent' %}" method="post">
    {% csrf_token %}
    <input type="text" name="studentnr" placeholder="Skriv inn studentnummeret til studenten du ønsker å registrere">
    <button type="submit" name="emnekode" value="{{ emne }}">Registrer</button>
</form>
<h2>Studentliste:</h2>
<ul>
{% for infoStudent in info %}
    <li>{{ infoStudent.student.fornavn }} {{ infoStudent.student.etternavn }}</li>
{% endfor %}
</ul>
{% endblock %}